
<p>
  <span class="lead">alim.ac</span> is a <a href="/blog/hello-world/">side project</a>
  and is very much a work in progress in terms of layout, design and content.
  <i class="fa fa-smile-o"></i>
</p>
