<header>
  <div class="container">
    <h1> 
      <%= link_to default_title, "/index.html" %>
    </h1>

    <nav>
      <ul>
        <li>
          <%= link_to "Blog", "/blog.html" %>
        </li>
        <li>
          <%= link_to "Projects", "/projects.html" %>
        </li>
        <li>
          <%= link_to "About", "/about.html" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
