<nav>
  <ul>
     <li>
       <i class="fa fa-pencil"></i> <%= link_to "Blog", "/blog.html" %>
     </li>
     <li>
       <i class="fa fa-comment"></i> <%= link_to "About", "/about.html" %>
     </li>
   </ul>
 </nav>
