//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

$padding: 20px;
$footer-height: 52px;
$main-color: #00A3CC;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Droid Sans', sans-serif;
  margin-bottom: $footer-height *2;
}

.navbar {
  border: 0;
  background-color: $main-color;
  color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.blog {
  h2,h3,h4,h5,h6 {
    margin: 35px 0 20px 0;
  } 
}

.blog_index {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  .navbar {
    margin-bottom: 0;
  }
}

.tags {
  margin: 15px 0;
  a {
    margin-right: 10px;
  }   
}

pre {
  margin: $padding 0;
}

a {
  color: $main-color;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #472400;
}
a:hover {
  color: #472400;
  text-decoration: none;
}

table {
  margin: 25px 0;    
}

.autowidth {
  width: auto;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
