
$padding: 20px;
$footer-height: 52px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  margin-bottom: $footer-height *2;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  .navbar {
    margin-bottom: 0;
  }
}

.tags {
  margin: 15px 0;
  a {
    margin-right: 10px;
  }   
}

pre {
  margin: $padding 0;
}

a:hover {
  color: red;
  text-decoration: none;
}


