---
title: /about
---

<h1>about</h1>
<p class="lead">
  web developer and traveling language geek
</p>

<div class="row">
  <div class="col-sm-8 blog-main">

<p>
</p>

  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= partial "partials/alimac" %>
  </div>
</div>
