---
title: About 
---

<h2>About me</h2>

<p>Hi, I'm a web developer. My first programming language was Perl, long before I considered pursuing computer science in college. My interests run the gamut from UX to devops. I work with Drupal, WordPress and all kinds of custom web applications.</p>

<p>In addition to learning programming languages I also like learning languages in general. I am a native Polish speaker, fluent in English. I have mostly forgotten my German, but I know the basics of Spanish and am currently learning Japanese.</p>