---
title: About 
---

<h2>About me</h2>

<p>
  Hi, I'm Alina and I'm a web developer. My first programming language 
  was Perl and I still use it quite a bit. My interests run the gamut 
  from UX to devops. I work with Drupal, WordPress and all kinds of 
  custom web applications.
</p>

<p>
  In addition to learning programming languages I also like learning 
  languages in general. I am a native Polish speaker. I'm fluent in 
  English. I have mostly forgotten my German, but I know the basics of 
  Spanish and I'm currently learning Japanese.
</p>

<p>
  <strong>alim.ac</strong> is a <a href="/blog/hello-world/">side project</a> 
  and is very much a work in progress in terms of layout, design and content.
  <i class="fa fa-smile-o"></i>
</p>
