---
title: About me 
---

<h1>About me</h1>
<p class="lead">
  Hi, I'm Alina and I'm a web developer. 
</p>

<div class="row">
  <div class="col-sm-8 blog-main">

<p>
  My first programming language 
  was Perl and I still use it quite a bit. My interests run the gamut 
  from UX to devops. I work with Drupal, WordPress and all kinds of 
  custom web applications.
</p>

<p>
  In addition to learning programming languages I also like learning 
  languages in general. I am a native Polish speaker. I'm fluent in 
  English. I have mostly forgotten my German, but I know the basics of 
  Spanish and I'm currently learning Japanese.
</p>

  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= partial "partials/alimac" %>
  </div>
</div>
